*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px; /* =1rem */
    font-family: 'Roboto', sans-serif;
}

footer {
    background: #34547A;
    width:100%;
    height: auto;
}

.container {
    max-width: 1125px;
    width: 100%;
    margin: auto;
}

.block {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.header{
    margin-top: 50px;
}

.link {
    text-transform: uppercase;
    text-decoration: none;
}
.link:hover {
    color:#34547A;
}
.logo {
    font-family: 'Revalia', cursive;
    font-size: 48px;
    line-height: 60px;
    color: #34547A;
}

.navigation {
    max-width: 612px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav_item {
    line-height: 26px;
    letter-spacing: 0.1em;
    color: #000000;
}

.section_hero {
    background:#EEEFF1;
    padding-top: 250px;
    padding-bottom: 153px;
    margin-top: -110px;;
}

.hero_img {
    margin-left: 85px;
}

.hero_info {
    max-width: 541px;
    width: 100%;
}

.hero_title {
    font-weight: bold;
    font-size: 48px;
    line-height: 79px;    
    margin-bottom: 60px;
}

.desc {
    line-height: 26px;
    color: #727272;
    margin-bottom: 60px;
}

.button {
    padding: 25px 41px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    border: none;
}

.button_primary {
    color: #FFFFFF;
    background: #34547A;
}

.section_title {
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 112px;
}

.block_info {
    max-width: 540px;
    width:100%;    
}

.section_desc {
    text-align: center;
}
.proekti {
    margin-top: 100px;
    height: 250px;
    background-color: #34547A;
    padding-top: 100px;
    padding-left: 405px;
    padding-right: 424px;
}
.proekt_img {
    width: 141px;
    height: 50px;
    align-items: center;
}
.back_h {
    margin-left: 20px;
    margin-top: -23px;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    width: 36px;
    color: #FFFFFF;
    line-height: 25px;
}

.back_p {
    margin-bottom: -9px;
    margin-left: -36px;
    margin-right: 52.33px;
    font-size: 16px;
    font-weight: normal;
    color: #FFFFFF;
    line-height: 26px;
}

.naviki { 
    padding-top: 102px;
    padding-bottom: 102px;
}
.photo {
    width: 555px;
    height: 450px;
}
.skills_bar {
    margin-top: 50px;
}
.line {
    margin-top: 20px;
    margin-bottom: 30px;
    width: 445px;
    height: 4px;
    background: linear-gradient(to right,#34547A 75%,
    #C4C4C4 25%)
}
.desc_skills {
    color: #727272;
    font-size: 16px;
    line-height: 26px;
}
.info_title {
    font-size: 32px;
}

.work {
    background: #EEEFF1;
    padding-bottom: 100px;
}


.video {
    display: flex;
    margin-top: -3px;
    width: 1100px;
    height: 600px;
    background-image: url(../img/video.png);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.video_play {
    margin: auto;
    width: 100px;
    height: 100px;  
}

.microsoft_photos {
    padding-top: 28px;
}

.container_pictures {
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.pic1 {
    width: 100%;
    height: 100%;
}

.section_pictures {
    max-width: 1920px;
    width: 100%;
    padding: 0px;
    margin-top: 28px;
}

.link_img {
    position: relative;
    width: 25%; 
} 

.link_img:hover::before {
    content:"";
    background: rgba(52, 84, 122, 0.8) url(../img/eye.png) no-repeat center;
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: index 500;
}

.photo_microsoft { 
    display: flex;
    justify-content: center;
    margin-top: 72px;
    margin-right: 405px;
    margin-bottom: 100px;
    margin-left: 405px;
}
.microsoft {
    margin-right:30px;
}

.sending {
    background:#EEEFF1;
}

.form {
    max-width: 540px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.input--half {
    width: 255px;
    height: 50px;
    padding-left:20px;
    border:none;
    outline: none;
}

.input--message {
    width: 540px;
    min-height: 175px;
    margin-bottom: 50px;
    padding-bottom: 143px;
    padding-top: 17px;
    padding-left: 20px;
    padding-right: 20px;
    border:none;
    outline: none;
    resize: none;
    font-family: roboto, sans-serif;
}

.input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}

.buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 120px;

}

.footer_desc {
    padding-top:50px;
    padding-bottom:50px;
}

.footer_hero {
    color:#FFFFFF;
}

.footer_hero_name {
    font-weight: 500;
    font-size: 21px;
    margin-bottom: 20px;
}

.footer_hero_desc {
    font-size: 13px;
    font-weight: normal;
    width: 193px ;
}


.vk_link {
    margin-right: 22px;
}
